{% extends 'base.html' %}

{% block content %}
<section class="bg-light">

    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <h1 class="display-4 lh-1 mb-4">Leaderboard</h1>
           

                <table>
                    <tr>
                        <th>Rank</th>
                        <th>Nickname</th>
                        <th>Score</th>
                    </tr>
                    {% for user in users %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ user.nickname }}</td>
                        <td>{{ user.score }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="col-sm-8 col-md-6">
                <div class="px-5 px-sm-0"><img class="img-fluid rounded-circle" src="{{ url_for('static', filename='assets/img/leaderboard.jpg') }}" alt="..." /></div>
            </div>
        </div>
    </div>
</section>

    
{% endblock %}
